*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 410px;
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
#container i{
    color: #fff;
    font-size: 70px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.25s;
}